# API key from Builder > Settings > API keys. e.g. https://sequence.build/project/{PROJECT_ID}/settings/apikeys
NEXT_PUBLIC_SEQUENCE_ACCESS_KEY="XXXXXX"
# Project ID from Builder, found in the URL of the project, e.g. https://sequence.build/project/{PROJECT_ID}
NEXT_PUBLIC_SEQUENCE_PROJECT_ID="XXXXXX"

# Optional: For integrating with WalletConnect, set the WalletConnect project ID
# NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID="XXXXXX"

# Required to use WAAS
NEXT_PUBLIC_WAAS_CONFIG_KEY="eyJwcm9qZWN0SWQiOjEzNjM5LCJycGNTZXJ2ZXIiOiJodHRwczovL3dhYXMuc2VxdWVuY2UuYXBwIn0="

# Required to use WAAS
NEXT_PUBLIC_GOOGLE_CLIENT_ID="970987756660-35a6tc48hvi8cev9cnknp0iugv9poa23.apps.googleusercontent.com"

# Wallet type can be "waas" or "universal"
NEXT_PUBLIC_WALLET_TYPE="waas"