.footer {
  width: 100%;
  padding: 2.4875rem 2.535rem 2rem;
  padding-top: 7rem;
  background: url('/market/images/footer.png');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(6.25rem);
  font-size: calc(8px + 0.42vw);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5.7rem;

  @media (max-width: 776px) {
    padding-top: 2.14rem;
    padding-inline: 0.840625rem;
    padding-bottom: 1rem;
    flex-direction: column;
    backdrop-filter: blur(0.6rem);
    gap: 26px;
  }
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.address {
  font-family: RedHatDisplay;
  font-size: 0.8rem;
  text-align: center;
  @media (max-width: 776px) {
    font-size: 0.7rem;
  }
}

.footer_navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;
  @media (max-width: 776px) {
    flex-direction: column-reverse;
    margin-bottom: 0;
    padding-bottom: 12px;
    gap: 32px;
  }
}

.logo {
  margin-right: 1.764375em;
  width: 92%;

  @media (max-width: 776px) {
    margin-right: 0;
    margin-bottom: 1.963125rem;
  }
}

.link_container {
  display: flex;
  gap: 1.75em;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  color: #fff;
  opacity: 0.7;

  @media (max-width: 776px) {
    margin: 0 auto;
    align-items: center;
    order: 2;
    flex-direction: column;
    gap: 12px;
  }
  a,
  p {
    font-size: 1.25rem;
    text-wrap: nowrap;
    white-space: nowrap;

    @media (max-width: 776px) {
      font-size: 0.994375rem;
      opacity: 0.7;
    }
  }
}

.top_border {
  width: 55.542522%;
  height: 0.48375rem;
  display: flex;
  justify-content: end;
  gap: 1.5rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  @media (max-width: 776px) {
    display: none;
  }
  div {
    background-color: var(--white);
    height: 100%;
    border-radius: 0.1875rem;
  }
  :nth-child(1) {
    width: 16.2618796%;
  }
  :nth-child(2) {
    width: 0.875rem;
    flex-shrink: 0;
  }
  :nth-child(3) {
    width: 0.875rem;
    flex-shrink: 0;
  }
  :nth-child(4) {
    width: 72.967265%;
  }
}

.footer_menu {
  color: #fff;
  font-family: X-Heighting;
  font-size: 3.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.75rem; /* 84.615% */
  letter-spacing: 0.025rem;
  display: flex;
  align-items: center;
  gap: 4.5rem;

  @media (max-width: 776px) {
    flex-direction: column;
    gap: 22px;
    font-size: 2.5rem;
  }

  div {
    position: relative;
    height: fit-content;
    a {
      position: relative;
      z-index: 2;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 3rem);
      height: 2.75rem;
      background: url('/img/hover.png');
      background-size: 100% 100%;
      transition: 0.3s;
      background-repeat: no-repeat;
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    &:hover {
      &::after {
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
      }
    }
  }
}
