.card {
  @apply flex aspect-[0.667188891] flex-col bg-cover p-2 pt-5 drop-shadow-md;
  -webkit-clip-path: url(#nft-card-clip-path);
  clip-path: url(#nft-card-clip-path);
  //  @media  (max-width: 776px) {
  //     @apply p-7;
  //   }
}

.title_wrapper {
  @apply mb-2 flex h-[4.35781rem] items-center gap-2 px-3 text-black;
  //  @media  (max-width: 776px) {
  //     @apply h-[3.1rem];
  //   }
}

.logo {
  @apply aspect-square h-full;
}

.card_title_container {
  // No changes needed
}

.title {
  @apply mb-1 text-[1.40325rem] font-normal uppercase leading-[0.8694] text-black;
  //  @media  (max-width: 776px) {
  //     @apply text-[1.25rem];
  //   }
}

.tag {
  @apply font-DMSans text-[0.9355rem] font-normal leading-[1.0345] text-black/50;
  //  @media  (max-width: 776px) {
  //     @apply text-[1rem];
  //   }
}

.img_container {
  @apply relative flex-grow overflow-hidden rounded-[3.11831rem];
  //  @media  (max-width: 776px) {
  //     @apply rounded-[2.1875rem];
  //   }
}

.card_img {
  @apply h-full w-full object-cover object-center;
}

.card_top_info_container {
  @apply absolute left-0 top-0 flex w-full items-center gap-1 p-4;
}

.card_top_info_item {
  @apply flex h-[3.81994rem] w-[3.81994rem] flex-shrink-0 flex-col items-center justify-center gap-1 rounded-full bg-white/10 backdrop-blur-[31.18324851989746px];
}

.number {
  @apply text-center font-DMSans text-[1.24731rem] font-medium uppercase leading-[0.8694] text-white;
  //  @media  (max-width: 776px) {
  //     @apply text-[1rem];
  //   }
}

.time_text {
  @apply text-center font-DMSans text-[0.77956rem] font-normal uppercase leading-[0.8694] text-white/50;
}

.card_bottom_info_container {
  @apply absolute bottom-0 left-0 flex h-[calc(3.81995rem+0.87rem*2)] w-full gap-1 p-4;
  //  @media  (max-width: 776px) {
  //     @apply h-[calc(2.4945rem+0.8rem*2)];
  //   }
}

.info_cotnainer_1 {
  @apply flex w-[7.48398rem] items-center justify-center gap-4 rounded-[2.49469rem] bg-white/10 backdrop-blur-[31.18324851989746px];
}

.nft_card_icon_big {
  @apply h-[1.42719rem] w-[1.69725rem];
  //  @media  (max-width: 776px) {
  //     @apply h-[0.96769rem] w-[1.15081rem];
  //   }
}

.info_cotnainer_2 {
  @apply flex w-[10.68026rem] items-center justify-between rounded-[2.49469rem] bg-white/10 p-2 backdrop-blur-[31.18324851989746px];
}

.icon_container {
  @apply flex aspect-square h-[2.87363rem] items-center justify-center rounded-full bg-white/10;
  //  @media  (max-width: 776px) {
  //     @apply h-[1.89844rem];
  //   }
}

.nft_card_icon_small {
  @apply h-[1.42719rem] w-[1.69725rem] scale-75;
  //  @media  (max-width: 776px) {
  //     @apply h-[0.96769rem] w-[1.15081rem];
  //   }
}

.cart_container {
  height: calc(3.81995rem);
  @apply ml-auto flex aspect-square items-center justify-center rounded-full bg-[#e5ff03];
  img {
    @apply h-[2.33875rem] w-[2.33875rem];
    //@media  (max-width: 776px) {
    //   @apply h-[1.33081rem] w-[1.33081rem];
    // }
  }
}

.toy {
  @apply h-[6.3795rem] w-[6.3795rem];
  //  @media  (max-width: 776px) {
  //     @apply h-[4.53816252rem] w-[4.53816252rem];
  //   }
}
