.title {
  @apply text-[6rem] font-normal uppercase leading-tight drop-shadow-md;
  @media screen and (max-width: 776px) {
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 103%; /* 32.96px */
    text-transform: uppercase;
  }
}

.btn-main {
  @apply flex w-full max-w-[16.9375rem] items-center justify-center rounded-[2.6875rem] border border-[rgba(255,255,255,0.40)] bg-main-gradient px-7 py-[0.875rem] text-[1.5rem] font-normal uppercase leading-normal text-white mb:max-w-full mb:py-1;
  &:hover {
    @apply shadow-[0_0_10px_rgba(0,0,0,0.25)] shadow-main;
  }

  &.variant-black {
    background-image: none;
    @apply bg-[#483F50];
    &:hover {
      @apply shadow-[0_0_10px_rgba(0,0,0,0.25)] shadow-[#483F50];
    }
  }
}

.logo-shadow {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tooltip {
  clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
  transition: clip-path 0.3s ease;
  animation: appear 0.6s ease forwards;

  @keyframes appear {
    to {
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    }
  }
}

// .btn {
//   font-size: 1.5rem;
//   font-style: normal;
//   font-weight: 400;
//   line-height: normal;
//   text-transform: uppercase;
//   padding: 0.75rem 1.26rem 0.94rem 1.49rem;
//   border-radius: 2.6875rem;
//   border: 1px solid rgba(255, 255, 255, 0.4);
//   background: linear-gradient(90deg, #f47469 0%, #db5179 100%);
//   transition: box-shadow 0.2s ease;
//   &:hover {
//     box-shadow: 0px 0px 1rem #db5179;
//   }
//   &:active {
//     scale: 0.98;
//   }
//   &.disabled {
//     color: rgba(255, 255, 255, 0.2);
//     border: 1px solid rgba(255, 255, 255, 0.4);
//     background: linear-gradient(
//       90deg,
//       rgba(244, 116, 105, 0.2) 0%,
//       rgba(219, 81, 121, 0.2) 100%
//     );
//     pointer-events: none;
//   }
//   &.azure {
//     background: #99fff3;
//     color: #483f51;
//   }
//   &.white {
//     background: #e7e6fb;
//     color: #483f51;
//   }
//   @media screen and (max-width: 776px) {
//     border-radius: 43px;
//     border: 1px solid rgba(255, 255, 255, 0.4);
//     background: linear-gradient(90deg, #f47469 0%, #db5179 100%);
//     color: #fff;
//     font-family: X-Heighting;
//     font-size: 16px;
//     padding: 4px 13px 5px 14px;
//   }
// }
