@import './font.scss';
@import './shared';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'mixins';

@layer base {
  html {
    background-color: hsl(var(--background));
    --scrollbar-color-thumb: #202020; // Do not support hsl()
    --scrollbar-color-track: var(--background);
    --scrollbar-width: thin;
    --scrollbar-width-legacy: 7px;

    --font-DMSans: DMSans;
    --font-RedHatDisplay: RedHatDisplay;
    --font-X-Heighting: X-Heighting;
    --gradient-main: linear-gradient(
      -90deg,
      rgba(217, 79, 121, 1) 0%,
      rgba(244, 116, 105, 1) 100%
    );

    font-size: calc(16px + (100vw - 1920px) / 110);
    @media (max-width: 776px) {
      font-size: 16px;
    }

    /* Modern browsers with `scrollbar-*` support */
    @supports (scrollbar-width: auto) {
      *scrollbar-color: var(--scrollbar-color-thumb)
        var(--scrollbar-color-track);
      *scrollbar-width: var(--scrollbar-width);
    }

    /* Legacy browsers with `::-webkit-scrollbar-*` support */
    @supports selector(::-webkit-scrollbar) {
      *::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: var(--scrollbar-color-thumb);
      }
      *::-webkit-scrollbar-track {
        background: var(--scrollbar-color-track);
      }
      *::-webkit-scrollbar {
        max-width: var(--scrollbar-width-legacy);
        max-height: var(--scrollbar-width-legacy);
      }
    }
  }
  body {
    font-family: var(--font-RedHatDisplay);
  }

  .privacy-policy-page-container {
    @apply mx-auto my-12 flex flex-col items-start gap-6 px-6 text-foreground/60;
    max-width: 1200px;

    a {
      @apply text-primary underline;
    }

    & > p {
      @apply text-foreground/60;
      strong {
        @apply font-semibold text-foreground/80;
      }
    }
  }

  .terms-of-use-page-container {
    @apply mx-auto my-12 flex flex-col items-start gap-6 px-6 text-foreground/60;
    max-width: 1200px;

    a {
      @apply text-primary underline;
    }

    ol li {
      @apply text-foreground/60;
    }

    & > p {
      @apply text-foreground/50;
      strong {
        @apply font-semibold text-foreground/80;
      }
    }
  }

  // TOASTIFY
  body {
    background-color: hsl(var(--background));
    --toastify-color-light: hsl(var(--background));
    --toastify-color-dark: hsl(var(--background));

    --toastify-color-info: hsl(var(--primary));
    --toastify-color-success: hsl(var(--success));
    --toastify-color-warning: hsl(var(--warning));
    --toastify-color-error: hsl(var(--destructive));
    --toastify-color-transparent: hsl(var(--foreground));

    --toastify-icon-color-info: hsl(var(--primary));
    --toastify-icon-color-success: hsl(var(--success));
    --toastify-icon-color-warning: hsl(var(--warning));
    --toastify-icon-color-error: hsl(var(--destructive));

    --toastify-toast-width: 350px;
    --toastify-toast-background: hsl(var(--foreground));
    --toastify-toast-min-height: 50px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: var(--font-main);
    --toastify-z-index: 9999999;

    --toastify-text-color-light: hsl(var(--foreground));
    --toastify-text-color-dark: hsl(var(--foreground));

    // Used only for colored theme
    --toastify-text-color-info: hsl(var(--foreground) / 0.8);
    --toastify-text-color-success: hsl(var(--success));
    --toastify-text-color-warning: hsl(var(--warning));
    --toastify-text-color-error: hsl(var(--destructive));

    --toastify-spinner-color: hsl(var(--foreground) / 0);
    --toastify-spinner-color-empty-area: hsl(var(--foreground) / 0.7);

    // Used when no type is provided
    // toast("**hello**")
    // --toastify-color-progress-light: linear-gradient(
    //   to right,
    //   #4cd964,
    //   #5ac8fa,
    //   #007aff,
    //   #34aadc,
    //   #5856d6,
    //   #ff2d55
    // );
    // Used when no type is provided
    --toastify-color-progress-dark: hsl(var(--foreground) / 0.2);
    --toastify-color-progress-info: hsl(var(--primary) / 0.2);
    --toastify-color-progress-success: hsl(var(--success) / 0.2);
    --toastify-color-progress-warning: hsl(var(--warning) / 0.2);
    --toastify-color-progress-error: hsl(var(--destructive) / 0.2);
  }

  // google 3d model viewer
  model-viewer {
    --poster-color: 'transparent' --progress-mask: 'transparent';
  }
}

.Toastify__progress-bar {
  height: 100% !important;
  z-index: -1 !important;
}

.Toastify__toast {
  @apply font-semibold;
  font-size: 0.835rem;
  border-radius: 10px !important;

  position: relative;

  &:after {
    content: '';
    background: hsl(var(--foreground) / 0.1);

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
  }
}

.Toastify__toast.Toastify__toast--default {
  .Toastify__close-button {
    background: hsl(var(--foreground) / 0.3);
  }
}

.Toastify__toast.Toastify__toast--info {
  &:after {
    background: hsl(var(--primary) / 0.2);
  }
  .Toastify__close-button {
    background: hsl(var(--primary) / 0.3);
  }
}

.Toastify__toast.Toastify__toast--success {
  &:after {
    background: hsl(var(--success) / 0.2);
  }
  .Toastify__close-button {
    background: hsl(var(--success) / 0.3);
  }
}

.Toastify__toast.Toastify__toast--warning {
  &:after {
    background: hsl(var(--warning) / 0.2);
  }
  .Toastify__close-button {
    background: hsl(var(--warning) / 0.3);
  }
}

.Toastify__toast.Toastify__toast--error {
  &:after {
    background: hsl(var(--destructive) / 0.2);
  }
  .Toastify__close-button {
    background: hsl(var(--destructive) / 0.3);
  }
}

// close button
.Toastify__close-button {
  align-self: center !important;
  padding: 0.4rem !important;
  border-radius: 100%;
}
.Toastify__close-button > svg {
  width: 13px !important;
  height: 13px !important;
}

/* UTILITIES */
@layer utilities {
  .loading {
    @apply animate-pulse select-none rounded-sm bg-foreground/10 text-transparent;
    content-visibility: auto;
    & * {
      @apply invisible text-transparent;
    }
  }

  .loading-box {
    @apply animate-pulse select-none rounded-sm text-transparent shadow-sm shadow-foreground/60;
    content-visibility: auto;
    & * {
      @apply invisible text-transparent;
    }
  }

  .ellipsis {
    @apply overflow-hidden overflow-ellipsis whitespace-nowrap;
  }
  .ellipsis-unset {
    overflow: unset;
    text-overflow: unset;
    white-space: unset;
  }

  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .main-layout:has(.landing-floating-header) {
    --orderCartRightOffset: 0px;
  }
}

.svg-path {
  position: absolute;
  width: 0;
  height: 0;
}
